html, body {
  min-height: 100%;
  /*width: 100vw;*/
}

.mdl-layout .mdl-layout__content {
  height: 100%;
  width: 100%;
}

#main {
  display: grid;
  height: 650px;
  grid-template-columns: 60% auto;
  grid-template-rows: 100%;
  /*grid-template-rows: 80px auto; /*calc(100vh - 80px - 20px - 5px)*/*/
  grid-gap: 10px;
  /*height: 80vh;
  width: 100%;*/
  padding: 10px;
}

.map {
  grid-column: 1 / 2;
  /*grid-row: 2 / 3;*/
  height: 100%;
  width: 100%;
}

#map-svg {
  width: 100%;
}

.mdl-textfield {
  width: 25%;
  margin-right: 5px;
}

.card-wide.mdl-card {
  width: 100%;
  height: 100%;
}

.charts {
  grid-column: 2 / 3;
  /*grid-row: 2 / 3;*/


  max-height: 100%;
  max-width: 100%;
  grid-template-columns: 95%;
  /*grid-template-rows: 280px 200px 100px;*/
  grid-template-rows: 325px 325px;
  /*grid-gap: 10px;*/
  margin-left: 10px;
  align-self: stretch;
}

.chart-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-bottom: 30px;
}

.chart-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-bottom: 0;
}
#card-chart2 {
  margin-bottom: 0;
}
/*.chart-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin-bottom: 10px;
}*/
/*.chart-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}*/

#title {
  height: 30px;
}

#inputState {
  display: none;
}

#resetSelectedColleges {
  display: none;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.line {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
  stroke-opacity: 0.2;
}

.mdl-tooltip.mdl-tooltip--large {
  text-align: left;
}

#tooltip-info {
  text-align: left;
}
